<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.RtMapper" >
  <resultMap id="BaseResultMap" type="com.pojo.Rt" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="rkbh" property="rkbh" jdbcType="VARCHAR" />
    <result column="sl" property="sl" jdbcType="INTEGER" />
    <result column="yy" property="yy" jdbcType="VARCHAR" />
    <result column="sj" property="sj" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, rkbh, sl, yy, sj
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pojo.RtExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from rt
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from rt
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from rt
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pojo.RtExample" >
    delete from rt
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pojo.Rt" >
    insert into rt (id, rkbh, sl, 
      yy, sj)
    values (#{id,jdbcType=INTEGER}, #{rkbh,jdbcType=VARCHAR}, #{sl,jdbcType=INTEGER}, 
      #{yy,jdbcType=VARCHAR}, #{sj,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.Rt" >
    insert into rt
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="rkbh != null" >
        rkbh,
      </if>
      <if test="sl != null" >
        sl,
      </if>
      <if test="yy != null" >
        yy,
      </if>
      <if test="sj != null" >
        sj,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="rkbh != null" >
        #{rkbh,jdbcType=VARCHAR},
      </if>
      <if test="sl != null" >
        #{sl,jdbcType=INTEGER},
      </if>
      <if test="yy != null" >
        #{yy,jdbcType=VARCHAR},
      </if>
      <if test="sj != null" >
        #{sj,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pojo.RtExample" resultType="java.lang.Integer" >
    select count(*) from rt
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update rt
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.rkbh != null" >
        rkbh = #{record.rkbh,jdbcType=VARCHAR},
      </if>
      <if test="record.sl != null" >
        sl = #{record.sl,jdbcType=INTEGER},
      </if>
      <if test="record.yy != null" >
        yy = #{record.yy,jdbcType=VARCHAR},
      </if>
      <if test="record.sj != null" >
        sj = #{record.sj,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update rt
    set id = #{record.id,jdbcType=INTEGER},
      rkbh = #{record.rkbh,jdbcType=VARCHAR},
      sl = #{record.sl,jdbcType=INTEGER},
      yy = #{record.yy,jdbcType=VARCHAR},
      sj = #{record.sj,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.Rt" >
    update rt
    <set >
      <if test="rkbh != null" >
        rkbh = #{rkbh,jdbcType=VARCHAR},
      </if>
      <if test="sl != null" >
        sl = #{sl,jdbcType=INTEGER},
      </if>
      <if test="yy != null" >
        yy = #{yy,jdbcType=VARCHAR},
      </if>
      <if test="sj != null" >
        sj = #{sj,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pojo.Rt" >
    update rt
    set rkbh = #{rkbh,jdbcType=VARCHAR},
      sl = #{sl,jdbcType=INTEGER},
      yy = #{yy,jdbcType=VARCHAR},
      sj = #{sj,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>